body{
    background-color:hsl(233, 47%, 7%);
}
h1,
h2,
h3,
h4,
h5,
p
{
 color: white;
 padding:0;
 margin: 0;
 font-family: 'Inter', sans-serif;
}
span{
    color: hsl(277, 83%, 41%) ;
}
.Text >p{
    color: hsla(0, 0%, 100%, 0.75);
}
li{
    list-style-type: none;
}
main{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 55rem;
}
.Content{
    display: flex;
    background-color:hsl(244, 38%, 16%);
    border-radius: 0.5rem;
    
}

.Text{
    flex: 1;
    padding: 1.9rem 3.1rem 1.9rem 3.1rem;
    display: flex;
    flex-direction: column;
    justify-content:space-around;
    column-gap: 1.2rem;
}
.Image{
    background-color: hsl(277, 83%, 41%);
    border-radius: 0rem 0.5rem 0.5rem 0rem;
    overflow: hidden;
}
.Image > img{
    height: 100%;
    border-radius: 0rem 0.5rem 0.5rem 0rem;
    opacity: 0.6;
}

.numberComponents{
    display: flex;  
    padding:0;
    justify-content:flex-start;
    gap:5rem;
}

.numberComponents > li{
    align-items: flex-end;
}

li>h1{
    font-size: 1.2rem;
    text-align: center;
}
li>p{
    font-size: 0.8rem;
    text-align: center;
}


@media screen and (max-width:375px) {
         
            h1,
            h2,
            h3,
            h4,
            h5,
            p
        {
        color: white;
        font-family: 'Inter', sans-serif;
        }

    .Content{
        flex-direction: column;
        gap:1rem;
        width: 95%;
    }
   .Text{
       order: 2;
       padding:1rem 0.6rem 0.6rem 0.4rem;
       gap: 2rem;
       align-items: center;
       justify-content: center;
   }
   .Text>h1 , .Text>p{
       text-align: center;
   }
   .numberComponents{
        display:flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-content: space-around;
        gap: 1rem;
    }
   .Image{
    border-radius: 0.5rem 0.5rem 0rem 0rem;
    height: 18rem;
    order: 1;
   }
   .Image > img{
     border-radius: 0.5rem 0.5rem 0rem 0rem;
     width: 100%;
     object-fit: fill;
     
   }
}